* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ddcbc9;
  color: #333;
  line-height: 1.6;
  text-align: center;
  padding: 20px;
}

form {
  background-color: #fff3e6;
  border: 1px solid #ffd6b3;
  border-radius: 12px;
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  text-align: center;
  color: #ff6f61;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ffd6b3;
  font-size: 15px;
  background-color: #fffefc;
  transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
  border-color: #ff6f61;
  outline: none;
}

button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #e65c50;
}

textarea {
  min-height: 80px;
}

.avaliacao {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 12px 0 18px;
}

.option {
  flex: 1;
  text-align: center;
}

.option input[type="radio"] {
  display: none;
}

.option span {
  display: block;
  background: #fff;
  border: 2px solid #ffd6b3;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  color: #333;
}

.option input[type="radio"]:checked + span {
  background: #ff6f61;
  color: #fff;
  border-color: #e65c50;
}

.termos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0 20px;
}

.termos label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: normal;
  color: #333;
  font-size: 15px;
}

.termos input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #ff6f61;
  cursor: pointer;
}

/* POPUP */
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff3e6;
  border: 1px solid #ffd6b3;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin-bottom: 8px;
  color: #ff6f61;
}

.modal-content p {
  margin-bottom: 16px;
  color: #555;
}

#popup-close {
  background: #ff6f61;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 1
}